
<div class="connexion">

   Nom de compte <input id="Text1" type="text" /> <br> <br>
    Mot de passe  <input id="Password1" type="password" /> <br><br />
    <input id="Button1" type="button" value="Connection" />


   



</div>