
@{
    ViewBag.Title = "ViewAccueilResponsable";
}

<h2>ViewAccueilResponsable</h2>
<div id ="ModuleGestion">
    <input id="GestionFiliere" type="button" value="Gestion des filières" />
    <input id="GestionMatiere" type="button" value="Gestion des matières" />
    <input id="GestionEnseignant" type="button" value="Gestion des enseignants" />
    <input id="GestionEtudiant" type="button" value="Gestion des étudiants" />
</div>
<div id = "MatieresResp">
    <!-- Pour chaque matière du responsable ajouter un bouton matière-->
</div>
<div id = "FiliereResp">
    <!-- Pour chaque filière du responsable ajouter un bouton filière-->
</div>