
@{
    ViewBag.Title = "ViewGestionEnseignant";
}

<h2>ViewGestionEnseignant</h2>

<div id="Menu">
    <input id="Text1" type="text" /><input id="Button1" type="button" value="Rechercher" />
    <input id="Button1" type="button" value="Ajouter enseignant" />
    <input id="Button1" type="button" value="Supprimer enseignant" />
    <input id="Button1" type="button" value="Modifier enseignant" />

</div>

<div id="VisualisationFilières">
    <!-- afficher toutes les filière du responsable-->
    <table style="width:100%;"><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr></table>
</div>