
@{
    ViewBag.Title = "ViewGestionMatière";
}

<h2>ViewGestionMatière</h2>

<div id="Menu">
    <input id="Text1" type="text" /><input id="Button1" type="button" value="Rechercher" />
    <input id="Button1" type="button" value="Ajouter matière" />
    <input id="Button1" type="button" value="Supprimer matière" />
    <input id="Button1" type="button" value="Modifier matière" />
</div>

<div id="VisualisationFilières">
    <!-- afficher toutes les matières du responsable-->
    <table style="width:100%;"><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr></table>
</div>
