
@{
    ViewBag.Title = "ViewGestionFiliere";
}

<h2>ViewGestionFiliere</h2>


<div id="Menu">
    <input id="Text1" type="text" /><input id="Button1" type="button" value="Rechercher" />
    <input id="Button1" type="button" value="Ajouter filière" />

    <form name="form1" action="validation.htm">
        <p>
            nombre:
            <input type="text" name="nombre">
        </p>
        <p>
            <input type="submit" name="Submit" value="Valider">
        </p>
    </form>

    <input id="Button1" type="button" value="Supprimer filière" />
    <input id="Button1" type="button" value="Modifier filière" />
</div>

<div id="VisualisationFilières">
    <!-- afficher toutes les filière du responsable-->
    <table style="width:100%;"><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr></table>
</div>



