
@{
    ViewBag.Title = "ViewGestionEtudiant";
}

<h2>ViewGestionEtudiant</h2>

<div id="Menu">
    <input id="Text1" type="text" /><input id="Button1" type="button" value="Rechercher" />
    <input id="Button1" type="button" value="Ajouter Etudiant" />
    <input id="Button1" type="button" value="Supprimer Etudiant" />
    <input id="Button1" type="button" value="Modifier Etudiant" />
</div>

<div id="VisualisationEtudiants">
    <input id="mesEtudiantsOnly" type="checkbox" /><!--Afficher mes étudiants seulements-->
    <!-- afficher tous es étudiants-->
    <table style="width:100%;"><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr></table>
</div>