@model Diplodocus.Models.Grade

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="container" style="background-color:white; border-radius:10px; margin-top:5%; margin-bottom:5%">

        <h4>Grade</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.gradeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gradeName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.IdGrade }) |
        @Html.ActionLink("Retour", "Index")
    </p>
</body>
</html>
