@model Diplodocus.Models.SchoolSubject

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>SchoolSubject</h4>
        <hr />
        <br />

        Nom de la filière: @Html.DisplayFor(model => model.Grade.gradeName)
        <br />


        Nom de la matière: @Html.DisplayFor(model => model.SubjectName)

        <br />
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdSubject }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
