
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        Vous êtes :<br />

        @Html.ActionLink("Manager", "ManagerStart")<br />
        @Html.ActionLink("Etudiant", "StudentStart")


    </p>

</body>
</html>
