@{
    Layout = "~/Views/Shared/LoginLayout.cshtml";
    if (Session["StudentId"] == null)
    {
        Response.Redirect("~/Users/Login");
    }
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/style1.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Student menu</title>
</head>
<body>
    <br /><br /><br /><br /><br /><br /><br /><br />
    @Html.ActionLink("Simuler vos notes", "Index", "Simulations", new { id = Session["UserId"] }, new { @class = "btn btn-lg btn-success btn-block", style = "width:200px" })
</body>
</html>