
@{
    ViewBag.Title = "ViewAccueilEtudiant";
}

<h2>ViewAccueilEtudiant</h2>

<body>



    <h2>Veuillez remplir les notes pour chaques matières : </h2>
    <form name="lesMatières" action="RemplirTableau" method="post">
        <p>Anglais : </p><input id="anglais" type="text" onchange="return VerifierChamps(this.id)" />
        <p>Mathematique : </p><input id="mathematique" type="text" onchange="return VerifierChamps(this.id)" />
        <p>Français : </p><input id="français" type="text" onchange="return VerifierChamps(this.id)" />
        <p>Histoire : </p><input id="histoire" type="text" onchange="return VerifierChamps(this.id)" />
        <p>SVT : </p><input id="svt" type="text" onchange="return VerifierChamps(this.id)" />
        <input type="submit" value="Simuler" onclick="return VerifierFormulaire()" />

        <%
        string[] semaine = { "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi", "dimanche" };
        foreach (string jours in semaine)
        {
        %>
        <li><%= jours %></li>
        <%
        }
        %>

    </form>

    <div id="jours">
        
    </div>
    <table style="width:100%;"><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr></table>
</body>
<script type="text/javascript">
    var mesMatières = ['Anglais', 'Mathematique', 'Francais', 'Histoire', 'SVT'];
    function VerifierFormulaire() {

        if (document.getElementById("anglais").value != "") {
            if (isNaN(document.getElementById("anglais").value)) {
                alert("Veuillez saisir une note au format numérique")
                return false;
            }
            else {
                if (document.getElementById("anglais").value >= 0 && document.getElementById("anglais").value <= 20) {
                    return true
                }
                else {
                    alert("Veuillez saisir une note entre 0 et 20")
                    return false
                }
            }
        }
        else {
            alert("Veuillez saisir une note pour Anglais !");

            return false;
        }

        return true;
    }

    function VerifierChamps(id) {
        if (document.getElementById(id).value != "") {
            if (isNaN(document.getElementById(id).value)) {
                alert("Veuillez saisir une note au format numérique pour " + id)
                return false;
            }
            else {
                if (document.getElementById(id).value >= 0 && document.getElementById(id).value <= 20) {
                    return true
                }
                else {
                    alert("Veuillez saisir une note entre 0 et 20 pour " + id)
                    return false
                }
            }
        }
        else {
            alert("Veuillez saisir une note pour " + id);
            return false;
        }
    }

    function RemplirTableauSimulation() {
        for (var i = 0; i < myArray.length; i++) {
            alert(myArray[i]);
        }

    }


</script>




