@model Diplodocus.Models.Student
@{
    Layout = "~/Views/Shared/LoginLayout.cshtml";
    ViewBag.Title = "Gestion Page";
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Users/Login");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gestion</title>
</head>
<body>
    <div class="container" style="background-color:white; border-radius:10px; margin-top:5%; margin-bottom:5%">
        ERREUR
        </div>
</body>
</html>